# PushButton constraints
NET BUTTONS_N[0] LOC = "AC24"  |IOSTANDARD = "LVCMOS33";
NET BUTTONS_N[1] LOC = "AC23"  |IOSTANDARD = "LVCMOS33";
NET BUTTONS_N[2] LOC = "AB24"  |IOSTANDARD = "LVCMOS33";
NET BUTTONS_N[3] LOC = "AA24"  |IOSTANDARD = "LVCMOS33";
NET BUTTONS_N[4] LOC = "AA23"  |IOSTANDARD = "LVCMOS33";
