NET SYSTEM_RESET_N LOC = "AE24" |IOSTANDARD = "LVCMOS33" |TIG;

NET CLOCK_N LOC = "AF14" |IOSTANDARD = "LVDS_33";
NET CLOCK_P LOC = "AD14" |IOSTANDARD = "LVDS_33";

NET "CLOCK_P" TNM_NET = "CLOCK_P";
TIMESPEC "TS_CLOCK_P" = PERIOD "CLOCK_P" 26.666 ns HIGH 50% INPUT_JITTER 200.0ps;
