# DIP Switch constraints
NET SWITCH[0] LOC = "W19" |IOSTANDARD = "LVCMOS33";
NET SWITCH[1] LOC = "Y24" |IOSTANDARD = "LVCMOS33";
NET SWITCH[2] LOC = "K19" |IOSTANDARD = "LVCMOS33";
NET SWITCH[3] LOC = "V24" |IOSTANDARD = "LVCMOS33";
NET SWITCH[4] LOC = "U20" |IOSTANDARD = "LVCMOS33";
NET SWITCH[5] LOC = "U23" |IOSTANDARD = "LVCMOS33";
NET SWITCH[6] LOC = "U24" |IOSTANDARD = "LVCMOS33";
NET SWITCH[7] LOC = "U19" |IOSTANDARD = "LVCMOS33";
